<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Language Prediction</h1>
     <hr><br>
      <!-- Main Input For Receiving Query to our ML -->
    <form action="/result"method="POST">
    	<input type="text" name="text" placeholder="Enter text to be prdicted" required="required" />
<br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Language</button>
    </form>


 </div>
<br>
<br>

<h1> {{ prediction }}</h1>


</body>
</html>
